<div class="ListIndex">
  <div class="ListWrapper">
    <% @lists.each do |list| %>
      <div class="List">
        <div class="List__header">
          <h3 class="List__header__title"><%= list.title %></h3>
          <div class="dropdown">
            <button type="button",id="dropdownMenu1",class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
            ...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to  "リストを編集する", edit_list_path(list.id), method: :get, class: "dropdown-item" %>
              <%= link_to  "リストを削除する",list_path(list.id), method: :delete, class: "dropdown-item" %>
              <%= link_to "タスクを追加する",new_list_task_path(list), method: :get, class: "dropdown-item" %>
            </div>
          </div>
      </div>
      <% list.tasks.each do |task| %>
      <div class="TaskWrapper">
        <div class ="card">
          <h4 class="card-title__title"><%= task.title %></h4>
          <%= link_to list_task_path(task.id,list.id), method: :get do %>
          <i class="fas fa-asterisk"></i>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>