.signup
  .title
    %h2 新規登録
  .container.text-center
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form-group
        = f.label :name, "名前"
        %br
        = f.text_field :name, autofocus: true, class: "form-control, w-25", placeholder: "名前を入力してください"
      .form-group
        = f.label :email
        %br
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control, w-25", placeholder: "アドレスを入力して下さい"
      .form-group
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} 文字以上入力してください)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "form-control, w-25", placeholder: "パスワードを入力してください"
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control, w-25", placeholder: "パスワードを再度入力してください"
      .btn
        = f.submit "新規作成", class: "btn btn-primary"
    = render "devise/shared/links"
