<div class="contents row">
  <div class="container">
    <%= form_with url:"/tasks", method: :post, model: @task, local: true do |f| %>
      <h3>投稿する</h3>
        <div class="form-group">
        <%= f.label :title , class: 'control-label'%>
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "タスクを入力してください" %>
        </div>
        <div class="form-group">
        <%= f.label :memo , class: 'control-label'%>
        <%= f.text_area :memo, autofocus: true, class: "form-control", rows: "10", placeholder: "メモを入力してください" %>
        </div>
        <div class="form-group">
        <%= f.label :time , class: 'control-label'%>
        <%= f.time_select :memo, class: "form-control" %>
        </div>
        <div class= "text-center"><%= f.submit "作成する" %></div>
    <% end %>
  </div>
</div>