.LoginPage
  .wrapper
    %h2 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.label :email, "メールアドレス"
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control, w-24"
      .form-group
        = f.label :password, "パスワード"
        %br/
        = f.password_field :password, autocomplete: "current-password", class: "form-control, w-20"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .btn
        = f.submit "ログイン", class: "btn btn-primary ml-4"
    = render "devise/shared/links"
