<header class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
  <div class="container">
    <nav class="nav">
      <%= link_to "タスク管理", root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse">
      <% if user_signed_in? %>
        <ul class="navbar-nav">
          <li class="nav-item active"><%= current_user.name %>さん</li>
          <li><%= link_to "リストを作成", new_list_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%=link_to "新規登録",  new_user_registration_path, class: "nav-link nav-item" %>
          <li><%=link_to "ログイン",  new_user_session_path, class: "nav-link nav-item" %>
        </ul>
      <% end %>
    </nav>
  </div>
  </header>